voxb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:voxb="http://oss.dbc.dk/ns/voxb" targetNamespace="http://oss.dbc.dk/ns/voxb">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified">
			<xs:import namespace="http://oss.dbc.dk/ns/voxb" schemaLocation="voxb.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="createUserRequest">
		<wsdl:part name="body" element="voxb:createUserRequest"/>
	</wsdl:message>
	<wsdl:message name="createUserResponse">
		<wsdl:part name="body" element="voxb:createUserResponse"/>
	</wsdl:message>
	<wsdl:message name="updateUserRequest">
		<wsdl:part name="body" element="voxb:updateUserRequest"/>
	</wsdl:message>
	<wsdl:message name="updateUserResponse">
		<wsdl:part name="body" element="voxb:updateUserResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteUserRequest">
		<wsdl:part name="body" element="voxb:deleteUserRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteUserResponse">
		<wsdl:part name="body" element="voxb:deleteUserResponse"/>
	</wsdl:message>
	<wsdl:message name="undeleteUserRequest">
		<wsdl:part name="body" element="voxb:undeleteUserRequest"/>
	</wsdl:message>
	<wsdl:message name="undeleteUserResponse">
		<wsdl:part name="body" element="voxb:undeleteUserResponse"/>
	</wsdl:message>
	<wsdl:message name="fetchUserRequest">
		<wsdl:part name="body" element="voxb:fetchUserRequest"/>
	</wsdl:message>
	<wsdl:message name="fetchUserResponse">
		<wsdl:part name="body" element="voxb:fetchUserResponse"/>
	</wsdl:message>
	<wsdl:message name="createMyDataRequest">
		<wsdl:part name="body" element="voxb:createMyDataRequest"/>
	</wsdl:message>
	<wsdl:message name="createMyDataResponse">
		<wsdl:part name="body" element="voxb:createMyDataResponse"/>
	</wsdl:message>
	<wsdl:message name="updateMyDataRequest">
		<wsdl:part name="body" element="voxb:updateMyDataRequest"/>
	</wsdl:message>
	<wsdl:message name="updateMyDataResponse">
		<wsdl:part name="body" element="voxb:updateMyDataResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteMyDataRequest">
		<wsdl:part name="body" element="voxb:deleteMyDataRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteMyDataResponse">
		<wsdl:part name="body" element="voxb:deleteMyDataResponse"/>
	</wsdl:message>
	<wsdl:message name="undeleteMyDataRequest">
		<wsdl:part name="body" element="voxb:undeleteMyDataRequest"/>
	</wsdl:message>
	<wsdl:message name="undeleteMyDataResponse">
		<wsdl:part name="body" element="voxb:undeleteMyDataResponse"/>
	</wsdl:message>
	<wsdl:message name="fetchMyDataRequest">
		<wsdl:part name="body" element="voxb:fetchMyDataRequest"/>
	</wsdl:message>
	<wsdl:message name="fetchMyDataResponse">
		<wsdl:part name="body" element="voxb:fetchMyDataResponse"/>
	</wsdl:message>
	<wsdl:message name="fetchDataRequest">
		<wsdl:part name="body" element="voxb:fetchDataRequest"/>
	</wsdl:message>
	<wsdl:message name="fetchDataResponse">
		<wsdl:part name="body" element="voxb:fetchDataResponse"/>
	</wsdl:message>
	<wsdl:message name="searchDataRequest">
		<wsdl:part name="body" element="voxb:searchDataRequest"/>
	</wsdl:message>
	<wsdl:message name="searchDataResponse">
		<wsdl:part name="body" element="voxb:searchDataResponse"/>
	</wsdl:message>
	<wsdl:message name="reportOffensiveContentRequest">
		<wsdl:part name="body" element="voxb:reportOffensiveContentRequest"/>
	</wsdl:message>
	<wsdl:message name="reportOffensiveContentResponse">
		<wsdl:part name="body" element="voxb:reportOffensiveContentResponse"/>
	</wsdl:message>
	<wsdl:portType name="userGeneratedDataPortType">
		<wsdl:operation name="createUser">
			<wsdl:input message="voxb:createUserRequest"/>
			<wsdl:output message="voxb:createUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<wsdl:input message="voxb:updateUserRequest"/>
			<wsdl:output message="voxb:updateUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="deleteUser">
			<wsdl:input message="voxb:deleteUserRequest"/>
			<wsdl:output message="voxb:deleteUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="undeleteUser">
			<wsdl:input message="voxb:undeleteUserRequest"/>
			<wsdl:output message="voxb:undeleteUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="fetchUser">
			<wsdl:input message="voxb:fetchUserRequest"/>
			<wsdl:output message="voxb:fetchUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="createMyData">
			<wsdl:input message="voxb:createMyDataRequest"/>
			<wsdl:output message="voxb:createMyDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="updateMyData">
			<wsdl:input message="voxb:updateMyDataRequest"/>
			<wsdl:output message="voxb:updateMyDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="deleteMyData">
			<wsdl:input message="voxb:deleteMyDataRequest"/>
			<wsdl:output message="voxb:deleteMyDataResponse"/>
		</wsdl:operation>		
		<wsdl:operation name="undeleteMyData">
			<wsdl:input message="voxb:undeleteMyDataRequest"/>
			<wsdl:output message="voxb:undeleteMyDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="fetchMyData">
			<wsdl:input message="voxb:fetchMyDataRequest"/>
			<wsdl:output message="voxb:fetchMyDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="fetchData">
			<wsdl:input message="voxb:fetchDataRequest"/>
			<wsdl:output message="voxb:fetchDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="searchData">
			<wsdl:input message="voxb:searchDataRequest"/>
			<wsdl:output message="voxb:searchDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="reportOffensiveContent">
			<wsdl:input message="voxb:reportOffensiveContentRequest"/>
			<wsdl:output message="voxb:reportOffensiveContentResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="userGeneratedDataBinding" type="voxb:userGeneratedDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="createUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="updateUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="deleteUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="undeleteUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="undeleteUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="undeleteUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchUser">
			<soap:operation soapAction=""/>
			<wsdl:input name="fetchUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="fetchUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createMyData">
			<soap:operation soapAction=""/>
			<wsdl:input name="createMyDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createMyDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateMyData">
			<soap:operation soapAction=""/>
			<wsdl:input name="updateMyDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateMyDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteMyData">
			<soap:operation soapAction=""/>
			<wsdl:input name="deleteMyDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteMyDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="undeleteMyData">
			<soap:operation soapAction=""/>
			<wsdl:input name="undeleteMyDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="undeleteMyDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	<wsdl:operation name="fetchMyData">
			<soap:operation soapAction=""/>
			<wsdl:input name="fetchMyDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="fetchMyDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchData">
			<soap:operation soapAction=""/>
			<wsdl:input name="fetchDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="fetchDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchData">
			<soap:operation soapAction=""/>
			<wsdl:input name="searchDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="searchDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reportOffensiveContent">
			<soap:operation soapAction=""/>
			<wsdl:input name="reportOffensiveContentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="reportOffensiveContentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="userGeneratedDataService">
		<wsdl:port name="userGeneratedDataPortType" binding="voxb:userGeneratedDataBinding">
			<soap:address location="https://voxb.addi.dk/1.0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
